<!DOCTYPE html>
<html>
<head>
    <title>Créer une lettre</title>
    <link rel="stylesheet" href="/lettre/css/style.css">
</head>
<body>

   <div class="container">
     <h2>Créer une lettre</h2>

    <form action="/l/create" method="POST">

        <!-- Titre -->
         <div>
            <label>prenom </label>
            <input type="text" name="prenom" required>
        </div>
        <div>
            <label>Nom </label>
            <input type="text" name="nom" required>
        </div>
        
        <!-- Expediteur -->
        
      
        <div>
            <label>Adresse</label>
            <input type="text" name="adresse" >
        </div>

        <div>
            <label>Code Postal</label>
            <input type="text" name="cp" >
        </div>

        <div>
            <label>Ville</label>
            <input type="text" name="ville" >
        </div>

        <div>
            <label>Téléphone</label>
            <input type="text" name="tel" required>
        </div>

        <div>
            <label>E-mail</label>
            <input type="text" name="mail" required>
        </div>

        <!-- Destinataire -->
         <div>
            <label>Sociéte</label>
            <input type="text" name="societe" >
        </div>

        <div>
            <label>Adresse</label>
            <input type="text" name="addr">
        </div>

         <div>
            <label>Code Postal</label>
            <input type="text" name="cp_s" >
        </div>

        <div>
            <label>Ville</label>
            <input type="text" name="ville_s">
        </div>

        <div>
            <label>Objet</label>
            <input class="objet" type="text" name="objet" required>
        </div>
        <!-- le corps de la lettre-->
        <div>
            <label>Contenu</label>
            <textarea name="contenu" rows="8" required></textarea>
        </div>
        <!-- La signature -->
        
         

        <button type="submit">Créer</button>



    </form>
   </div>

</body>
</html>
