<footer class="text-center">
    <div class="container">
      <p>© <%= new Date().getFullYear() %> Hamzaoui Hamid.Tous droits réservés.</p>
      <p class="mb-0">Artisanat de qualité depuis xx ans</p>
      <div class="mt-3">
        <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white"><i class="fab fa-pinterest-p"></i></a>
      </div>
    </div>
  </footer>

  <script src="/portfolio/js/bootstrap.bundle.min.js"></script>
</body>
</html>