<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page non trouvée</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            color: #333;
        }
        
        a {
            color: #007bff;
            text-decoration: none;
            margin-top: 20px;
            font-size: 1.2em;
        }
        section.container.text-center {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

        section h1 {
        font-size: 6rem;
        font-weight: bold;
        }

        section p {
        max-width: 500px;
        }
    </style>
</head>
<body>

    <section class="container text-center mt-5">
        <h1 class="display-3 text-danger">404</h1>
        <h2 class="mb-3">Page introuvable 😕</h2>
        <p class="lead">
          Désolé, la page que vous cherchez n’existe pas ou a été déplacée.
        </p>
      
        <a href="/" class="btn btn-primary mt-3">
          Retour à l’accueil
        </a>
      </section>
   
</body>
</html>
