<footer>
  <div class="container text-center">
    <ul class="nav justify-content-center border-bottom pb-2 mb-2">
      <li class="nav-item"><a href="/site/vitrine" class="nav-link px-2 text-body-secondary">Accueil</a></li>
      <li class="nav-item"><a href="/site/contact" class="nav-link px-2 text-body-secondary">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQ</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">À propos</a></li>
    </ul>
    <p class="text-body-secondary">© 2025 Nom de l'artisan - Tous droits réservés</p>
    <p class="text-body-secondary">Téléphone : 06 XX XX XX XX | Email : contact@artisan.com</p>
  </div>
</footer>


  <script src="/siteVitrine/js/bootstrap.bundle.min.js"></script>
</body>
</html>