<div class="container ">
  <footer class="py-3 my-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="/site" class="nav-link px-2 text-body-secondary">
          <font dir=" auto" style="vertical-align: inherit;"> Aceuil</font>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">
          <font dir=" auto" style="vertical-align: inherit;"> Contact</font>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">
          <font dir=" auto" style="vertical-align: inherit;"> FAQ</font>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">
          <font dir=" auto" style="vertical-align: inherit;"> À propos </font>
        </a>
      </li>
    </ul>
    <p class="text-center text-body-secondary">
      <footer class="footer">
      <font dir=" auto" style="vertical-align: inherit;"> © <%= new Date().getFullYear() %> Hamzaoui Hamid.Tous droits réservés. </font>
    </p>
    <p class="text-center text-body-secondary">
      <font dir=" auto" style="vertical-align: inherit;"> Téléphone : 06 XX XX XX XX | Email : contact@artisan.coms </font>
    </p>
  </footer>
</div>
<script src="/siteVitrine/js/bootstrap.bundle.min.js"></script>
</body>
</html>


