<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= titre %></title>
  <link rel="stylesheet" href="/siteVitrine/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="/siteVitrine/css/style.css">-->
  <link rel="stylesheet" href="/siteVitrine/css/home.css"> 
</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light border-bottom py-3">
        <a class="navbar-brand" href="/site/vitrine/">Nom Artisan</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link px-2 text-body-secondary" href="/site/login/dashboard">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 text-body-secondary" href="/site/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 text-body-secondary" href="/site/galeries">Galerie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 text-body-secondary" href="/site/apropos">À propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 text-body-secondary" href="/site/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 text-body-secondary" href="/site/vitrine" target="_blank">Site</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary" href="/site/login/logout">Déconnexion</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  



