<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= titre %> </title>
  <link rel="stylesheet" href="/siteVitrine/css/bootstrap.min.css">
  <link rel="stylesheet" href="/siteVitrine/css/home.css"> 
  

</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-white rounded shadow-sm mt-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="/site/vitrine"> <img src="/siteVitrine/images/logo.webp"></a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item">  <a href="/site/vitrine"                 class="nav-link active">    Accueil             </a></li>
              <li class="nav-item">  <a href="/site/vitrine/services"        class="nav-link">           Nos Services        </a> </li>
              <li class="nav-item">  <a href="/site/vitrine/realisations"    class="nav-link">           Nos Réalisations    </a></li>
              <!--<li class="nav-item">  <a href="/site/apropos"                 class="nav-link">           À propos            </a></li>-->
              <li class="nav-item">  <a href="#"                 class="nav-link">           À propos            </a></li>
              <li class="nav-item">  <a href="/site/contact"                 class="nav-link">           Contact             </a></li>
              <li class="nav-item">  <a href="/site/login"                   class="nav-link">       Admin               </a></li>
            
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>