<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/composants/css/horloge.css">
    <title>Horloge Numérique</title>
</head>


    <div class="horloge">
        <div class="date"></div>
        <div class="heures"></div>
    </div>
    <script src="/composants/js/horloge.js"></script>
</body>
</html>