/* styles pour l'horloge */


.heures {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 5px;
}

.date {
    font-size: 2.1rem;
    color: #6c757d;
    margin-bottom: 15px;
}

/* Responsive design */
@media (max-width: 768px) {
    .heures {
        font-size: 2rem;
    }
    
    .date {
        font-size: 0.9rem;
    }
}